.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iml
out

### VS Code ###
.vscode/

### Spring ###
src/main/resources/application-*.yml

### Web ###
**/node_modules
**/dist
**/static
