<!DOCTYPE html>
<html lang="en">
<head>
    <title>Symphony Developer Center</title>
    <style>
        * { font-family: sans-serif }
    </style>
</head>
<body>
Hello {{name}},<br /><br />

Thank you for registering on <b>Sledger</b>.<br /><br />

To activate your account, please click the link below:<br />
<a href="{{requestUrl}}">{{requestUrl}}</a>

<br /><br /><br />
Cheers,<br />
<i>Team Sledger</i>
</body>
</html>
